# Supabase
SUPABASE_URL=https://cyyvjswozauerklnwzkv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5eXZqc3dvemF1ZXJrbG53emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDQ4NTEsImV4cCI6MjA4ODM4MDg1MX0.P1S8aONpAQLdNxqbikZ3oQlpSY3GlYNqOx7X55e56fA
NEXT_PUBLIC_SUPABASE_URL=https://cyyvjswozauerklnwzkv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5eXZqc3dvemF1ZXJrbG53emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDQ4NTEsImV4cCI6MjA4ODM4MDg1MX0.P1S8aONpAQLdNxqbikZ3oQlpSY3GlYNqOx7X55e56fA

# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require
 
# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require
 
# Parameters for constructing your own connection string
PGHOST=ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech
PGHOST_UNPOOLED=ep-late-band-alkowuk5.c-3.eu-central-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_k1tNahWQrID7
 
# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech
POSTGRES_PASSWORD=npg_k1tNahWQrID7
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_k1tNahWQrID7@ep-late-band-alkowuk5-pooler.c-3.eu-central-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require
# JWT
JWT_SECRET=badges-cesae-secret-key-2026-team-pc
JWT_EXPIRES_IN=24h
 
# Server
PORT=3001
 
# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=badges.cesae.digital@gmail.com
EMAIL_PASS=bitvexxfytzhoccz
