# Supabase
SUPABASE_URL=https://cyyvjswozauerklnwzkv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5eXZqc3dvemF1ZXJrbG53emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDQ4NTEsImV4cCI6MjA4ODM4MDg1MX0.P1S8aONpAQLdNxqbikZ3oQlpSY3GlYNqOx7X55e56fA
NEXT_PUBLIC_SUPABASE_URL=https://cyyvjswozauerklnwzkv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5eXZqc3dvemF1ZXJrbG53emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDQ4NTEsImV4cCI6MjA4ODM4MDg1MX0.P1S8aONpAQLdNxqbikZ3oQlpSY3GlYNqOx7X55e56fA

# Servidor
PORT=3001
NODE_ENV=development

# Email (configurar no Sprint 3)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
